body {
  margin: 0;
  color: black;
  background-color: #7fb88f;
  font-family: Arial, sans-serif;
}

a, a:active, a:visited {
  color: #276b40;
}

div {
  margin-top: 60px;
}

p {
  margin-top: 15px;
  margin-bottom: 0;
}

/* navigation bar */

#navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  background-color: #c5ecce;
}

#navbar ul {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#navbar li {
  float: left;
  vertical-align: text-bottom;
}

#navbar li a {
  display: block;
  white-space: nowrap;
  padding: 6px 12px 8px 12px;
  text-align: center;
  text-decoration: none;
  color: black;
}

#navbar li a:hover {
  background-color: #91d6a4;
}

#navbar .here {
  background-color: #276b40;
  color: white;
}

#navbar .title {
  display: inline-block;
  white-space: nowrap;
  vertical-align: text-bottom;
  margin: 0 30px 0 30px;
  padding: 6px 0 8px 0;
  font-size: 18pt;
  font-weight: bold;
}

/* content div */

#wrapper {
  margin-left: 120px;
  margin-right: 120px;
  margin-bottom: 60px;
}

#wrapper > div:not(#thicket) {
  padding: 15px;
  border-radius: 15px;
  background-color: #c5ecce;
}

#wrapper > div p:first-child {
  margin-top: 0;
}

#thicket {
  overflow-x: auto;
  border-top: 1px solid #276b40;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  background-color: inherit;
}
